body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

/* Estilize o elemento com a classe "galaxy-background" para exibir a imagem de fundo da galáxia */
.galaxy-background {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('sua-imagem-de-galaxia.jpg') no-repeat center center;
    background-size: cover;
    animation: galaxy 30s linear infinite; /* Animação para efeito de galáxia */
}

/* Estilize o conteúdo do site, ajuste a posição e o tamanho conforme necessário */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* Animação para simular um movimento de galáxia */
@keyframes galaxy {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}