body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 50px;
}

header {
    background-color: #051d65;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0e1681;
    padding: 0.5rem;
    z-index: 1000;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
}

nav a:hover {
    background-color: #410efb;
}

h1, p {
    padding: 0 1rem;
}
h2{
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
    max-height: 300px; 
}
/* Adicione estilos ao footer */
footer {
    background-color: #0e1681; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto no footer */
    padding: 20px; /* Espaçamento interno do footer */
    text-align: center; /* Centralizar o texto no footer */
  }
  
  /* Estilizando links no footer */
  footer a {
    color: #fff; /* Cor dos links no footer */
    text-decoration: none; /* Remover sublinhado dos links */
    margin: 0 10px; /* Margem entre os links */
  }
  
  footer a:hover {
    text-decoration: underline; /* Adicionar sublinhado ao passar o mouse sobre os links */
  }