

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 50px;
    background-color: rgba(231, 228, 228, 0.2);
    background-image: url('../img/espaço1.jpg');
    background-size: cover;
    background-position: center;
}
#historia {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; 
}

#historia h2,
#historia p {
    text-align: center; 
    margin: 0 auto; 
}

.header-container {
    margin-bottom: 50px;
}

header {
    color: white;
    text-align: center;
    padding: 2rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 1;
    background-color: rgba(1, 0, 4, 0.6);
    padding: 0.5rem;
    z-index: 1000;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
}

nav a:hover {
    background-color: #000102;
}

h1, p {
    padding: 0 1rem;
}

h2 {
    text-align: center;
    color: #f9f4f4;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 300px;
    border-radius: 10px;
}

p {
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
}

#fotos {
    text-align: center;
    position: relative;
}

.carousel {
    position: relative;
    margin: auto;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide {
    box-sizing: border-box;
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: contain; /* Alterado de 'cover' para 'contain' */
}

.nav-arrows {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-arrows button {
    background-color: #04111e;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.nav-arrows button:hover {
    background-color: #060606;
}

#prev {
    border-radius: 5px 0 0 5px;
}

#next {
    border-radius: 0 5px 5px 0;
}

button:focus {
    outline: none;
}

footer {
    opacity: 1;
    background-color: rgba(1, 0, 4, 0.6);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    nav {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    section {
        padding: 10px;
    }

    img {
        max-height: 200px;
    }

    .slide img {
        height: 200px;
    }

    .nav-arrows button {
        padding: 10px 15px;
        font-size: 16px;
    }

    footer {
        padding: 10px;
    }
}
